body 
{	background-image:url(StudyArea2.jpg);
	background-size:cover;}

p
{	color: #fcdbad;
	position:right;
	font-family:"times new roman";
	font-size: 2em;
	font-weight: 100;
	scroll-behavior: auto;
	width: 300px; 
	overflow: auto; 
	height: 400px;
}

footer{
	color:#3e71b3;
	position: static;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	text-align: center;}

 /* i think this is the nav bar styling I stole from W3 schools*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgba(177,99,37,.2);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(210,41,22,.3);
} 


