body{

background: linear-gradient(188deg, #e81a1a, #9db61a, #7381f0);
background-size: 600% 600%;

-webkit-animation: AnimationName 33s ease infinite;
-moz-animation: AnimationName 33s ease infinite;
animation: AnimationName 33s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
}
